<%= form.error_messages %>

<p>
  <%= form.label :name %>
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :email, "Email address" %>
  <%= form.text_field :email %>
</p>
<p>
  <%= form.label :twitter, "Twitter handle" %>
  <%= form.text_field :twitter %>
</p>
<p>
  <%= form.label :topic, "Talk topic" %>
  <%= form.text_field :topic %>
</p>

<button>Sign up</button>
