
<p>
  <b>BarCamp Buffalo (rebooted!)</b> is an ad-hoc gathering born from the desire for people to share and learn in an open environment. BarCamp Buffalo is an 
  intense event with discussions, demos, and interaction from attendees. No spectators, only participants. All attendees should give a demo, a session, or help with one. Anyone with something to contribute or with the desire to learn is welcome and invited to join.
</p>

<p>
 If you attended a prior BarCamp Buffalo, we lacked space and had altered the format -- expect the real deal now that we have lots of space (30-min presentations, multiple presentations in different rooms at every moment to give you greater choices).
</p>

<p>
  Follow <a href="https://twitter.com/BarCampBuffalo">@BarCampBuffalo</a> for more real-time updates about the events. Also check out <a href="http://www.facebook.com/BarCampBuffalo">BarCampBuffalo on Facebook</a> to get updates on future BarCamps!
</p>

<h2>BarCamp Buffalo #7</h3>
<p>
  BarCamp Buffalo is <b>April 26th, 2014</b> at The Foundry with 4 classrooms for 4 tracks of talks going on all at once. 30 mins each. If you've ever been to Rochester's BarCamp, or Buffalo BarCamp #6 in 2013, this will be just like it.

  <ul>
    <li><b>8:00 am</b>: Doors! Breakfast Burritos from Lloyd Taco Truck and registration</li>
    <li><b>9:00 am</b>: Welcome and Intro's</li>
    <li><b>9:30 am</b>: Talks begin!</li>
    <li><b>12:30 pm</b>: More Lloyd, tacos this time, for lunch</li>    
    <li><b>5:00 pm</b>: Wrap up and meetup for after party</li>
  </ul>
</p>

<h2>Directions</h2>

<div id="gMap">
  Here's <a href="http://goo.gl/maps/b2Dcy">a map to The Foundry</a>.</small>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2922.3472762903084!2d-78.8561025!3d42.9077164!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d3128c300d47f5%3A0x7396ab29c1332b74!2sThe+Foundry!5e0!3m2!1sen!2sus!4v1394024791880" width="600" height="450" frameborder="0" style="border:0"></iframe>
</div>

<p>
  <b>Parking:</b> Street parking should be widely available, you just might have to walk a little(gasp!)
</p>

<h2>2014 Sponsors</h2>

<ul id="sponsors">

	<li><a href="http://att.com/"><%= image_tag "atandt.png" %></a></li>
	<li><a href="http://colliganlaw.com/"><%= image_tag "colliganlaw.jpg" %></a></li>	
	<li><a href="http://43north.org/"><%= image_tag "43north.png" %></a></li>
	<li><a href="http://whereslloyd.com/"><%= image_tag "lloyd.png" %></a></li>
	<li><a href="http://coachmeplus.com/"><%= image_tag "CoachMeLogo.png" %></a></li>  
	<li><a href="http://www.campuslabs.com"><%= image_tag "campuslabs.png" %></a></li> 
	<li><a href="http://infotechniagara.org/"><%= image_tag "infotech_logo.png" %></a></li>
	<li><a href="http://youandwho.com/"><%= image_tag "you-and-who.jpg" %></a></li>
	<li><a href="https://www.facebook.com/HeadsUpDisplay"><%= image_tag "headsup.png" %></a></li>
	<li><a href="http://nicholasbarone.com/">Nicholas Barone</a></li>  	 
	<li>Boot Sector</li>

</ul>

<p>
  Email <a href="mailto:dan.gigante@gmail.com">Dan Gigante</a> for information on supporting this event and ensuring the all-volunteer effort behind this event can continue to make these happen for the Buffalo tech community. Thank you for your support!</a>
</p>
