<!DOCTYPE html>
<html>
<head>
  <title>BarCamp Buffalo: Buffalo's Tech Unconference</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="top">
    <h1><%= link_to "BarCamp Buffalo", root_path %></h1>
  </div>

  <div id="nav">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Info", page_path("info") %></li>
      <li><%= link_to "Register", new_registration_path %></li>
      <li><%= link_to "Attendees (#{Registration.count})", registrations_path %></li>
      <li><%= link_to "Directions", "https://goo.gl/maps/nQWUM" %></li>
      <li><%= link_to "#BarCampBUF", "https://twitter.com/search/realtime?q=%23BarCampBUF" %>
    </ul>
  </div>

  <div id="content">
    <h1>BarCamp Buffalo</h1>
    <h3>Buffalo's Tech Unconference</h3>

    <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%= value %></div>
      <% end -%>
    </div>

    <%= yield %>
  </div>

  <div id="footer">
    This site is <a href="http://github.com/coworkbuffalo/barcampbuffalo">open source</a>. Thanks to <a href="http://barcamproc.org">BarCamp Rochester</a> for letting us borrow their styles!
  </div>
</body>
</html>
